.bookmark {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  font-size: 12px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  max-width: 36px;
}

.bookmark::before,
.bookmark::after {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
  bottom: 3px;
  content: '';
  position: absolute;
  width: 17px;
}

.bookmark::before {
  left: -1px;
  transform: rotate(-21.5deg);
}

.bookmark::after {
  right: -1px;
  transform: rotate(21.5deg);
}

.bookmark,
.bookmark::before,
.bookmark::after {
  transition-duration: 0.3s;
  transition-property: border-color, color;
}

.bookmarkActivated,
.bookmarkActivated::before,
.bookmarkActivated::after {
  border-color: gold;
  color: gold;
}
