.page {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.page.textOnlyPage {
  white-space: pre-wrap;
}

.pageNumber {
  bottom: 1em;
  position: absolute;
}
