body {
  margin: 0;
}

.book {
  position: relative;
}

.page {
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
  height: 100vh;
  left: 0;
  line-height: 2;
  margin: 0;
  padding: 18px;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition: 1s transform;
  white-space: pre-wrap;
  width: 100vw;
}
