body {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  white-space: pre-wrap;
}

.book {
  border: none;
  display: flex;
  flex-direction: row;
}

.book > .page {
  border: 1px solid black;
  box-sizing: border-box;
  flex: none;
  padding: 18px;
}
