.book {
  overflow: hidden;
  position: relative;
}

.bookLoadingIcon {
  height: 24px;
  position: absolute;
  right: 1%;
  top: 1%;
  width: 24px;
}

.bookPagePicker {
  position: absolute;
  right: 50%;
  top: 8px;
  transform: translateX(50%);
}
